/* .sapMFlexItemAlignAuto {
    align-self: center;
}
.eleMnt{
    align-items: center;
    align-self: center;
    align-content: center;
}
.pnlCen{
    padding: .5rem;
}
/* .sapMBtnInner {
    font-size: 1.5rem;
    height: 2.25rem;
    min-width: 2.25rem;
    margin: 5px;
    padding: 7px;
    text-align: center;
    position: relative;
    border-radius: 0.5rem;
    text-shadow: none;
}
 .sapMBtnInner {
    height: 2.625rem;
    min-width: 3rem;
} 
.myBtn{
    height: 3.625rem;
    margin: 5px;
    padding: 10px;
    font-size: 1.5rem;
    min-width: 2.25rem;
    border-radius: 0.5rem;
    
  
}
/* .sapUiSizeCompact .sapMBtnInner {
    height: 2.625rem;
    min-width: 3rem;
    
    


} */

 /* /* .sapUiSizeCompact .sapMBtnContent {
    line-height: 2.5rem;
}  

*/

/*
.newBtn{
     font-size: 0.875rem;
        height: 2.25rem;
        min-width: 2.25rem;
        margin: 22px;
        padding: 8px;
        text-align: center;
        position: relative;
        border-radius: 0.5rem;
        text-shadow: none;
  
}

.largeButton {
    height: 50px ;
    min-width: 120px ;
}
.sapMBtnInner {
    font-size: 1.5rem;
    height: 2.25rem;
    min-width: 2.25rem;
    margin: 0px;
    padding: 9px;
    text-align: center;
    position: relative;
    border-radius: 0.5rem;
    text-shadow: none;
}

				.mtbtn{    display: inline-block;
        
       
       
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
     width: 200px;
       
        
        margin: 5px; } */




        .mtbtn{
            display: inline-block;
            
           
           
            color: #FFFFFF;
            text-align: center;
            font-size: 23px;
            padding: 20px;
            width: 200px;
           
            
            margin: 2px;
        }
        .sapUiSizeCompact .sapMBtnInner {
            height: 2.625rem;
            min-width: 2.5rem;
        }
        
        .sapMBtnInner {
            font-size: 1.5rem;
            height: 2.25rem;
            min-width: 2rem;
            margin: 31px;
            padding: 7px;
            text-align: center;
            position: relative;
            border-radius: 1.5rem;
            
            background-clip: padding-box;
            box-sizing: border-box;
        }
        html.sap-desktop .sapContrast.sapMIBar.sapMFooter-CTX {
            background-color: #2f3c48;
            border-top: 1px solid #475b6d;
            padding-bottom: 2.5rem;
            padding-top: 1rem;
        }
        .sapMLabel {
            color: #666666;
            font-size: 1.2rem;
            font-family: "72","72full",Arial,Helvetica,sans-serif;
            font-weight: normal;
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            cursor: text;
        }
        .sapMTitleStyleAuto {
            font-size: 1.2rem;
        }
        

        .panCss {
            padding: 0rem 0.75rem;
            box-sizing: border-box;
        }
        
       
        .sapUiSizeCompact .sapMBtnInner.sapMBtnText {
            padding-left: 0.4375rem;
            padding-right: 0.4375rem;
            padding-top: 2rem;
        }
        
        .sapUiSizeCompact .sapMBtnInner {
            font-size: larger;
            height: 5.625rem;
            min-width: 3rem;
        }
        .labFld{
            font-size: x-large;
        }
        .sapMInputBaseInner{
            font-size: 1.8rem;
        }
          
       .sapMInputBaseContentWrapper{
            height: 3rem !important;
            }
            .sapMInputBase{
            height: 3rem !important;
            }
            

            .sapMTextLineClamp {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                font-size: x-large;
            }
            .sapUiFormM:not(.sapUiFormEdit) .sapUiFormResGridCont>div {
                padding-top: 0.25rem;
                padding-bottom: 0.25rem;
                padding-right: 1rem;
            }
            .sapMGTHdrContent {
                height: 5.625rem;
                padding-top: 4.5rem;
                padding-left: 1rem;
                padding-right: 1rem;
            }

            #frag {
                background-color: #04AA6D; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
              }